__pycache__/
*.pyc
*.bin
*.tiff
*.tif
*.fits
*.fit
*.NEF
*.CR2
*.CR3
*.ARW
*.DNG
*.png
*.mwstack
*.bak
.vscode/
venv/
env/
sesiones/*
!sesiones/.gitkeep
!sesiones/mascaras/

sesiones/mascaras/*
!sesiones/mascaras/.gitkeep

imagenes/*
!imagenes/.gitkeep

exportaciones/*
!exportaciones/.gitkeep